<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fitnessicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fitnessicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackFit"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiamondActivity"
            android:exported="false" />
        <activity
            android:name=".PullupActivity"
            android:exported="false" />
        <activity
            android:name=".PushUpActivity"
            android:exported="false" />
        <activity
            android:name=".JumpingJackActivity"
            android:exported="false" />
        <activity
            android:name=".SquatActivity"
            android:exported="false" />
        <activity
            android:name=".TrailRuningActivity"
            android:exported="false" />
        <activity
            android:name=".YogaActivity"
            android:exported="false" />
        <activity
            android:name=".CyclingActivity"
            android:exported="false" />
        <activity
            android:name=".RunningActivity"
            android:exported="false" />
        <activity
            android:name=".HickingActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".TempProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".SingUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>